Repository newrelic/infra-integrations, pull requests merged in 2018-07, with the labels that each got.

#25 Restore v2.0 for jmx package
  vendor/github.com/newrelic/infra-integrations-sdk/jmx/jmx.go
  vendor/vendor.json
Labels: risk:low

#26 Release pkg v1.4.0
  CHANGELOG.md
  integrations/cassandra/CHANGELOG.md
  integrations/cassandra/src/cassandra.go
Labels: integration:cassandra, risk:low

#27 Cassandra doc for containerized agent
  integrations/cassandra/README.md
Labels: integration:cassandra, risk:low

#28 Use bash interpreter instead of sh
  doc/examples/bash/bin/dir-stats.sh
Labels: bug, risk:low
